*{
  position: relative;
   margin: 0px;
   padding: 0;   
   margin: auto;
   width: 1000px;
   text-decoration: none;
   list-style: none;
   font-family: sans-serif;
}

body{
  background: url(../img/Index.jpg);
  background-position: bottom center;
  height: 1080px;
}
/*==========================================================
    1. Header
===========================================================*/
header{
  height: 83px;
  background: rgba(4, 248, 4, 0.5);  
}
/*==========================================================
    2. Nav
===========================================================*/
nav{
  height: 44px;
  border-bottom: 1px solid white;
  background:rgba(206, 9, 9, 0.5);
}

/*==========================================================
    3. Slide
===========================================================*/
#slide{
  height: 301px;
  background: rgba(4, 248, 4, 0.5);   
}
/*==========================================================
    4. Slide Options
===========================================================*/
#slideOptions{
  height: 25px;
  background:rgba(206, 9, 9, 0.5);
}
/*==========================================================
    5. Changing
===========================================================*/
#changing{
  height: 300px;
  background: rgba(4, 248, 4, 0.8); 
}
/*==========================================================
    6. Bottom
===========================================================*/
#bottom{
  height: 190px;
  background: rgba(206, 9, 9, 0.5);
}
/*==========================================================
    7. Footer
===========================================================*/
footer{
  height: 61px;
  background: rgba(4, 248, 4, 0.8); 
}